@import "./../../assets/styles/variables.scss";

.shareCard {
	position: fixed;
	bottom: 3rem;
	right: calc(50% - 25rem);
	z-index: 10;

	display: flex;
	justify-content: space-between;
	align-items: center;

	border-radius: 10px;
	width: 50rem;
	padding: 1rem 2rem;
	background-color: var(--overlay-background-color);

	color: var(--title-color);
	font-weight: normal;
	text-align: center;

	animation: fadeIn ease 500ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	@media (max-width: $breakpoint-tablet) {
		flex-direction: column;
		width: 90%;
		box-sizing: border-box;
		right: 5%;
	}

	p {
		text-align: left;
		max-width: 85%;

		@media (max-width: $breakpoint-tablet) {
			text-align: center;
			max-width: 100%;
		}
	}

	h3 {
		text-align: left;

		@media (max-width: $breakpoint-tablet) {
			text-align: center;
		}
	}

	a {
		display: flex;
		align-items: center;
		height: 2.5rem;
		width: 11rem;
		cursor: pointer;

		padding: 0.25rem 1.5rem;

		color: var(--title-color);
		text-align: left;

		background-color: var(--overlay-dark-background-color);
		border-radius: 50px;

		img {
			margin-right: 1rem;
		}

		&:hover {
			background-color: var(--link-color);
			color: var(--white);
		}

		&:first-child {
			margin-bottom: 1rem;
			@media (max-width: $breakpoint-tablet) {
				margin-right: 1rem;
			}
		}

		&.noThanksLink {
			background-color: transparent;
			justify-content: center;
			margin-top: 0.5rem;

			@media (max-width: $breakpoint-tablet) {
				margin-top: 0;
			}

			@media (max-width: 800px) {
				margin-top: 1rem;
			}

			&:hover {
				color: var(--dark-blue);
			}
		}
	}
}

.linkContainer {
	display: flex;
	flex-direction: column;

	@media (max-width: $breakpoint-tablet) {
		flex-direction: row;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	@media (max-width: 800px) {
		flex-direction: column;
		margin-top: 2rem;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(50%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
