@import "./../../assets/styles/variables.scss";

.articleList {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	// @media (min-width: $breakpoint-tablet) {
	// 	flex-direction: row;
	// }
}

.listItem {
	display: block;

	list-style: none;
	padding: 0;
	margin: 0;

	@media (min-width: $breakpoint-tablet) {
		width: 458px;
	}
}

.articleCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 5px;
	padding: 1.5rem;
	margin-bottom: 1.5rem;
	background-color: var(--overlay-background-color);
	width: 100%;
	color: var(--overlay-font-color);
	box-sizing: border-box;

	transition-duration: 0.15s;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
		color: var(--overlay-font-color);
		transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1.05)
			scaleY(1.05);

		.title {
			color: var(--link-color);
		}
	}

	@media (min-width: $breakpoint-mobile) {
		width: calc(50% - 1rem);
	}

	.title {
		margin-top: 0;
		margin-bottom: 1.5rem;
	}

	.description {
		margin-bottom: 1.5rem;
	}

	.readMore {
		font-weight: bold;
		font-family: var(--title-font-family);
		letter-spacing: 0.5px;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}
