@import "./../../assets/styles/variables.scss";

.yearNavigationBarContainer {
	position: absolute;
	top: 0;
	left: -100px;

	height: 100%;

	@media (max-width: 1199px) {
		display: none;
	}
}

.yearNavigationBar {
	position: sticky;
	top: 100px;

	@media (max-height: 850px) {
		top: 30px;
	}

	@media (max-height: 786px) {
		display: none;
	}

	display: flex;
	flex-direction: column;

	background-color: var(--overlay-background-color);
	border-radius: 100px;

	padding: 1rem 1rem;
	
	.year {
		color: var(--font-color);
		font-weight: normal;
		margin: 0.25rem 0;
		text-align: center;
	
		&:hover {
			color: var(--title-color);
			font-weight: bold;
		}
	}
}
