@import "./../../assets/styles/variables.scss";

.container {
	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	bottom: 3rem;
	left: calc(50% - 125px);
	z-index: 100;

	height: 55px;
	width: 250px;

	border-radius: 100px;
	border: 1px solid var(--overlay-border-color);
	background-color: var(--overlay-background-color);

	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

	@media (max-width: 500px) {
		left: 2rem;
	}
}

.select {
	height: 55px;
	width: 90px;
	background-color: var(--overlay-background-color);
	border: none;
	color: var(--font-color);
	font-family: var(--font-family);
	font-size: 14px;
	padding-left: 0.5em;

	&:focus,
	&:focus-visible {
		outline: 1px solid var(--blue);
	}
}
