@import "./../../assets/styles/variables.scss";

.responsiveContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	@media (max-width: $breakpoint-mobile) {
		flex-direction: column;
	}
}
