---
import Page from "@layouts/page.astro";
import YearNavigationBar from "@components/YearNavigationBar/YearNavigationBar";
import Products from "@components/Products/Products";
import Navigation from "@components/Navigation/Navigation";
---

<Page
	title="Killed by Google - Discontinued products and services"
	description="Killed by tech is a tech graveyard, a free and open source list of discontinued products and services from Google."
	url="https://killedby.tech/google/"
>
	<h1 id="top">Killed by Google</h1>
	<h2 class="ingress">A graveyard for discontinued products from Google</h2>
	<Navigation />
	<Products company="google" />
	<YearNavigationBar company="google" client:idle  />
</Page>
