---
import Post from '@layouts/post.astro';
---

<Post 
    title="Apple discontinued the iPod after two decades" 
    heading="Apple discontinued the iPod – 20 years of music"
    description="For over two decades the iPod was the portable music player, just as big as the Walkman was before it. In 2022 Apple announced that the iPod will be discontinued, this is a trip down memory lane of the most iconic iPods."
    date="2022-05-10"
    url="https://killedby.tech/articles/apple-discontinued-the-ipod-after-two-decades/"
    image="https://killedby.tech/images/articles/apple-discontinued-the-ipod-after-two-decades/og.png"
>
    <p>Steve Jobs gets on stage and announce that from now on you'll be able to have 1,000 songs in your pocket. The year is 2001 and the original iPod sees the light for the first time, lighting the fire of a 20 year long success story.</p>
    <img src="https://www.apple.com/newsroom/images/product/ipod/standard/Apple-iPod-end-of-life-iPod-first-generation_carousel.jpg.large_2x.jpg">
    <p class="imageText">The original iPod | Image by <a href="https://www.apple.com/newsroom/2022/05/the-music-lives-on/?ref=killedby.tech" target="_blank" rel="noopener noreferrer" title="The music lives on – Apple">Apple</a></p>
    <p>Greg Joswiak, Apple’s senior vice president of Worldwide Marketing, explain how the iPod changed the music indisutry:</p>
    <blockquote>Music has always been part of our core at Apple, and bringing it to hundreds of millions of users in the way iPod did impacted more than just the music industry — it also redefined how music is discovered, listened to, and shared.</blockquote>
    <p>In May 10, 2022 <a href="https://www.apple.com/newsroom/2022/05/the-music-lives-on/?ref=killedby.tech" target="_blank" rel="noopener noreferrer" title="The music lives on – Apple">Apple announced that the iPod Touch (7th generation) will be discontinued</a>, an announcement that marked the end of the entire iPod product line. The iPod Touch will be available while supplies last, but with it being the last iPod it will probably sell out pretty soon.</p>
    <p>Apple may be done in the dedicated music player industry it's not done with music. Greg Joswiak also explained how the spirit of the iPod lives on at Apple:</p>
    <blockquote>Today, the spirit of iPod lives on. We’ve integrated an incredible music experience across all of our products, from the iPhone to the Apple Watch to HomePod mini, and across Mac, iPad, and Apple TV. And Apple Music delivers industry-leading sound quality with support for spatial audio — there’s no better way to enjoy, discover, and experience music.</blockquote>
    <p>Supporting the iPod product line for over two decades speaks to how important music is for Apple and that they will continue to deliver new ways of experience it. Looking back at those 20 years there was a lot of great iPods, some more memorable than others.</p>
    <img src="https://www.apple.com/newsroom/images/product/ipod/standard/Apple-iPod-end-of-life-iPod-Mini_carousel.jpg.large_2x.jpg">
    <p class="imageText">iPod Mini | Image by <a href="https://www.apple.com/newsroom/2022/05/the-music-lives-on/?ref=killedby.tech" target="_blank" rel="noopener noreferrer" title="The music lives on – Apple">Apple</a></p>
    <p>The iPod Mini was released in February 2004, featuring a smaller form factor and a range of different colors. It was also the first iPod to use the famous "click wheel".</p>
    <img src="https://www.apple.com/newsroom/images/product/ipod/standard/Apple-iPod-end-of-life-iPod-Shuffle_carousel.jpg.large_2x.jpg">
    <p class="imageText">iPod Shuffle (4th generation) | Image by <a href="https://www.apple.com/newsroom/2022/05/the-music-lives-on/?ref=killedby.tech" target="_blank" rel="noopener noreferrer" title="The music lives on – Apple">Apple</a></p>
    <p>The iPod Shuffle was released in January 2005 and was the first iPod without a display. Therefore it was the smallest iPod to date but it was also missing a lot of the features available on the other models.</p>
    <img src="https://www.apple.com/newsroom/images/product/ipod/standard/Apple-iPod-end-of-life-iPod-Touch_carousel.jpg.large_2x.jpg">
    <p class="imageText">iPod Touch (1st generation) | Image by <a href="https://www.apple.com/newsroom/2022/05/the-music-lives-on/?ref=killedby.tech" target="_blank" rel="noopener noreferrer" title="The music lives on – Apple">Apple</a></p>
    <p>The iPod Touch was released in September 2007 with a Multi-Touch display just like the iPhone. Being cheaper and smaller than the iPhone but with almost the same features made it an instant hit.</p>

    <p><a href="/apple/">Discover more discontinued products from Apple</a> such as the iPhone X, AirPort Extreme or MobileMe.</p>

</Post>