---
import Post from "@layouts/post.astro";
---

<Post
	title="Google killed these 4 products soon after acquiring them"
	heading="Google killed these 4 products soon after acquiring them"
	description="All of the FAANG companies acquire companies and products and not all of them survive the acqusition. Google however have become the scapegoat for this practice. This is a breif story about four of those acqusitions."
	date="2022-05-06"
	url="https://killedby.tech/articles/google-killed-these-4-products-soon-after-acquiring-them/"
	image="https://killedby.tech/images/articles/google-killed-these-4-products-soon-after-acquiring-them/og.png"
>
	<img
		src="https://beta.techcrunch.com/wp-content/uploads/2011/07/screen-shot-2011-07-08-at-1-33-36-pm.png"
		alt="Image of the Punchd logotype"
	/>
	<p class="imageText">
		Punchd logotype | Image by <a
			href="https://techcrunch.com/2011/07/11/google-confirms-that-it-has-acquired-digital-loyalty-startup-punchd/?ref=killedby.tech"
			target="_blank"
			rel="noopener noreferrer"
			title="Google Confirms That It Has Acquired Digital Loyalty Startup Punchd – TechCrunch"
			>TechCrunch</a
		>
	</p>
	<h2>Punchd</h2>
	<p>
		Founded in 2010 by Grantland Chew and Reed Morse, Punchd was a digital
		loyalty card app and service targeted towards small businesses.
	</p>
	<p>
		Customers could use the service to store multiple cards and track their
		reward points from the different businesses.
	</p>
	<p>
		Punchd was acquired by Google in 2011 and just a year later in 2012
		Google annonced that they were shutting down the service.
	</p>
	<p>
		Until june 2013 customers could still use their loyalty cards and redeem
		their reward points.
	</p>
	<p>
		<a
			href="http://getpunchd.com/"
			target="_blank"
			rel="noopener noreferrer"
			title="Punchd is closed for business – Punchd"
			>The team behind Punchd explained</a
		> that they would go on to working on other products at Google.
	</p>
	<blockquote>
		Our team's goal at Google has been to improve and simplify the
		experience for small business owners. In addition to improving Punchd,
		we've been working hard to integrate Punchd features and ideas into
		other Google products. In 2013 we decided to shut down Punchd and
		dedicate our team's time and energy into the integrations with other
		products.
	</blockquote>

	<div style="height: 5rem;"></div>

	<img
		src="https://upload.wikimedia.org/wikipedia/en/f/f1/Sparrow_icon.png"
		height="150"
		width="150"
		alt="Image of the Sparrow logotype"
	/>
	<p class="imageText">
		Sparrow logotype | Image by <a
			href="https://en.wikipedia.org/wiki/Sparrow_(email_client)"
			target="_blank"
			rel="noopener noreferrer"
			title="Sparrow – Wikipedia">Wikipedia</a
		>
	</p>

	<h2>Sparrow</h2>
	<p>
		Launched on February 9 2011, Sparrow was an innovative email client for
		Mac and iOS. It soon became one of the top paid apps in due to features
		such as a user-friendly interface, support for Dropbox and Box.net when
		uploading files and Gmail labels.
	</p>
	<p>
		Sparrow was acquired by Google in 2012 with promises that the app would
		remain available and fully supported. However it's now clear that Google
		acquired the email client for both talent and technology.
	</p>
	<p>
		The team started working on projects at Google resulting in Inbox and
		features in Gmail. Just a year after the acqusition, in 2013, the app
		vanished from the App Store.
	</p>

	<div style="height: 5rem;"></div>

	<img
		src="https://upload.wikimedia.org/wikipedia/en/e/e9/Jaiku_green_logo.png"
		alt="Image of the Jaiku logotype"
	/>
	<p class="imageText">
		Jaiku logotype | Image by <a
			href="https://en.wikipedia.org/wiki/Jaiku"
			target="_blank"
			rel="noopener noreferrer"
			title="Jaiku – Wikipedia">Wikipedia</a
		>
	</p>

	<h2>Jaiku</h2>
	<p>
		Founded by Jyri Engeström and Petteri Koponen in February 2006, launched
		in July the same year, Jaiku was a micro-blogging service from Finland
		comparable to <a
			href="https://twitter.com/?ref=killedby.tech"
			target="_blank"
			rel="noopener noreferrer"
			title="Twitter">Twitter</a
		>(founded a month after Jaiku).
	</p>
	<p>
		The service made it possible for the users to post short messages called
		"Jaikus". The posts could be made private and only visible to your
		friends or public for everyone to see.
	</p>
	<p>
		Google acquired Jaiku in 2007 giving the service a bumby road follwoing
		the acqusition. Service interruptions, lack of new features and a
		temporary requriment for a invite from Google in order to join the
		service was just some of the problems users encountered.
	</p>
	<p>
		This led to many users switching to Twitter and Jaiku lost the momentum.
		In 2011 Google+ was launched and just a year later, in 2012, Jaiku was
		shut down.
	</p>

	<div style="height: 5rem;"></div>

	<img
		src="https://upload.wikimedia.org/wikipedia/en/6/6a/Bump_app_logo.jpg?20170530010434"
		height="150"
		width="150"
		alt="Image of the Bump! logotype"
	/>
	<p class="imageText">
		Bump! logotype | Image by <a
			href="https://en.wikipedia.org/wiki/Bump_(application)"
			target="_blank"
			rel="noopener noreferrer"
			title="Bump! – Wikipedia">Wikipedia</a
		>
	</p>

	<h2>Bump!</h2>
	<p>
		Launched in 2009 Bump! was a an app that made it possible for users to
		share data between their smartphones.
	</p>
	<p>
		As the name suggests users could bump their phone together in order to
		transfer things like photos and contact cards.
	</p>
	<p>
		Google acquired Bump! in 2013 and in 2014 <a
			href="https://blog.bu.mp/post/71781606704/all-good-things"
			target="_blank"
			rel="noopener noreferrer"
			title="All good things… – Bump Blog"
			>the co-founder David Lieb annonced</a
		> that they were removing the app from the Apple App Store and Google Play.
	</p>
	<p>
		No reason was given by Google as to why the app was shut down. However
		no promises of supporting the app was made during the acquisiton.
	</p>
	<div style="height: 5rem;"></div>

	<p>
		<a href="/google/">Discover more discontinued products from Google</a> such
		as the Google+, YouTube Gaming and Project Loon.
	</p>
</Post>
