---
import Page from '@layouts/page.astro';
---

<Page 
    title="Articles covering discontinued services and products"
    description="A list of articles covering discontinued products from companies like Apple, Google and Microsoft."
    url="https://killedby.tech/articles/"
>
    <h1>All articles</h1>
    <ul>
        <li>
            <a href="/articles/ipod-socks-one-of-the-weirdest-apple-products/">iPod Socks – One of the weirdest Apple products</a>
        </li>
        <li>
            <a href="/articles/google-killed-these-4-products-soon-after-acquiring-them/">Google killed these 4 products soon after acquiring them</a>
        </li>
    </ul>
</Page>