---
import Post from '@layouts/post.astro';
---

<Post 
    title="iPod Socks – One of the weirdest Apple products" 
    heading="iPod Socks - A really strange accessory for iPods"
    description="Apple's history is full of weird and interesting products. however some products are weirder than others. This is a breif history of the iPad Socks, a knitted sock made for the iPod."
    date="2022-05-01"
    url="https://killedby.tech/articles/ipod-socks-one-of-the-weirdest-apple-products/"
    image="https://killedby.tech/images/articles/ipod-socks-one-of-the-weirdest-apple-products/ipod-socks.webp"
>
    <p>In 1986 Apple launched a clothing line called <a href="https://www.cultofmac.com/135654/the-apple-collection-was-everything-that-was-wrong-with-late-80s-apple-gallery/?ref=killedby.tech" target="_blank" rel="noopener noreferrer" title="The Apple Collection Was Everything That Was Wrong With Late 80s Apple – Cult of Mac">Apple Collection</a>, it's exactly what you expect when you think of the 80's.</p>
    <p>However this is not the only time Apple have dipped their toes in the business of selling clothing. In november 2004 Steve Jobs jokingly introduced the iPod Socks at a special music event.</p>
    <p>The iPod Socks were a set of cotton knit socks in multiple colors(similar to those found on the iPod Nanos). In additon to the ribbed knitting the socks featured a small tag with the Apple logo in the same color as the sock it self.</p> 
    <img src="/images/articles/ipod-socks-one-of-the-weirdest-apple-products/ipod-socks.webp" alt="iPod Socks in use with an iPod Classic" width="540" height="580" loading="lazy" />
    <p class="imageText">iPod Socks in use with an iPod Classic | Image by <a href="https://apple.fandom.com/wiki/IPod_Socks?ref=killedby.tech" target="_blank" rel="noopener noreferrer" title="iPod Socks – Apple Wiki">Apple Wiki</a></p>
    <p>In a <a href="https://www.ilounge.com/index.php/reviews/entry/apple-ipod-socks-ipod?ref=killedby.tech" target="_blank" rel="noopener noreferrer" title="Review: Apple iPod Socks – iLounge">review by the iLounge</a> Jeremy Horwitz said <blockquote>Apples’s iPod Socks are a better-than-average execution of a questionable concept at a higher-than-average price tag.</blockquote></p>
    <p>Giving them the pros such as "colorful sleeves that hold any sized iPod, protecting against scratch and some drop damage" but also noting cons such as "No screen, control, or Dock Connector access, price is high by sock standards (let alone miniature sock standards)".</p>
    <p>The accessory ecosystem that surrounded the iPod was huge and it's worth noting that there was a lot of alternative sleeves on the market. Many of them solved one or more of the problems Jeremy Horwitz brought up in the review.</p>
    <p>Apple <a href="https://appleinsider.com/articles/12/09/26/apple-removes-ipod-socks-from-online-store?ref=killedby.tech" target="_blank" rel="noopener noreferrer" title="Apple removes iPod Socks from online store – Apple Insider">discontinued the iPod Socks in late 2012</a> following the huge success of the iPhone and a decline in iPod sales as a result.</p>
    <p>Soon after being discontinued the colorful set became a collector's item. Back in 2014 the full set of socks <a href="https://www.bustle.com/articles/46830-remember-ipod-socks-your-favorite-ipod-accessories-from-the-early-2000s-that-will-make-you-wish?ref=killedby.tech" target="_blank" rel="noopener noreferrer" title="Remember These iPod Accessories? – Bustle">could go for as much as $90</a>.</p>
    <p>With the recent success of the AirPods a company called Native Union launced a modern take on the classic socks called <a href="https://www.theverge.com/2021/10/26/22746794/airpod-beanies-apple-ipod-sock-native-union?ref=killedby.tech" target="_blank" rel="noopener noreferrer" title="AirPod Beanies bring back the infamous iPod Sock for a new generation – The Verge">AirPod Beanies</a>.</p>
    <p><a href="/apple/">Discover more discontinued products from Apple</a> such as the iMac G3, AirPower or HomePod.</p>

</Post>