---
import Post from '@layouts/post.astro';
---

<Post 
    title="Products killed by Google in 2022" 
    heading="Products killed by Google in 2022 (updated may 2022)"
    description="All of the FAANG companies acquire companies and products and not all of them survive the acqusition. Google however have become the scapegoat for this practice. This is a breif story about four of those acqusitions."
    date="2022-05-27"
    url="https://killedby.tech/articles/google-killed-these-4-products-soon-after-acquiring-them/"
    image="https://killedby.tech/images/articles/google-killed-these-4-products-soon-after-acquiring-them/og.png"
>
    <p>
        Every year Google discontinues a bunch of products and 2022 will be no exception. As of May 2022 Google has only discontinued(or announced they will discontinue) 8 products this year, that's only a quarter of what they did during 2021.
    </p>
    <p>&nbsp;</p>

    <h2>G Suite(Legacy Free Edition)</h2>
    <p>
        G Suite (Legacy Free Edition) was a free tier offering some of the services included in Google's productivity suite. Businesses still using the free tier will be transitioned into Google Workspace, Google's current suite of productivity products for businesses.
    </p>
    <p>Individuals and families using G Suite (Legacy Free Edition) will be able to continue using a free tier of Google's products.</p>

    <h2>Google Assistant Snapshot</h2>
    <p>
        ASDASD
    </p>

    <h2>Cameos on Google</h2>
    <p>
        ASDASD
    </p>

    <h2>Android Things</h2>
    <p>
        ASDASD
    </p>

    <h2>Google Chrome Apps</h2>
    <p>
        Will be discontinued in June.
    </p>

    <h2>YouTube Go</h2>
    <p>
        Will be discontinued in August.
    </p>

    <h2>Google OnHub</h2>
    <p>
        Will be discontinued in December.
    </p>

    <h2>YouTube Originals</h2>
    <p>
        Will be discontinued in december.
    </p>

</Post>