@import "./../../assets/styles/variables.scss";

.navigation {
	display: flex;
	flex-wrap: wrap;

	.link {
		display: flex;
		font-size: 1.17em;
		font-weight: bold;
		margin-right: 3rem;

		margin-block-start: 1em;
		margin-block-end: 1em;

		font-family: var(--title-font-family);
		color: var(--title-color);

		&:last-child {
			margin-right: 0;
		}

		.sum {
			font-family: "Helvetica", "Arial", "sans-serif";
			font-weight: 400;
			color: var(--font-color);
			margin-left: 0.25rem;
		}
	}
}
