---
import Page from "@layouts/page.astro";
import YearNavigationBar from "@components/YearNavigationBar/YearNavigationBar";
import Products from "@components/Products/Products";
import Navigation from "@components/Navigation/Navigation";
---

<Page
	title="Killed by Apple - Discontinued products and services"
	description="Killed by tech is a tech graveyard, a free and open source list of discontinued products and services from Apple."
	url="https://killedby.tech/apple/"
>
	<h1 id="top">Killed by Apple</h1>
	<h2 class="ingress">A graveyard for discontinued products from Apple</h2>
	<Navigation />
	<Products company="apple" />
	<YearNavigationBar company="apple" client:idle  />
</Page>
