---
import Page from '@layouts/page.astro';
import YearNavigationBar from '@components/YearNavigationBar/YearNavigationBar';
import Products from '@components/Products/Products';
import Navigation from '@components/Navigation/Navigation';
---

<Page 
    title="Killed by Apple - Discontinued products and services"
    description="Killed by tech is a graveyard in memorial of great and beloved products killed by Apple. It's a free and open source list of discontinued products and services."
    url="https://killedby.tech/apple/"
>
    <h1>Killed by Apple</h1>
    <h2 class="ingress">A graveyard for discontinued products from Apple</h2>
    <Navigation />
    <Products company="apple"/>
    <YearNavigationBar company="apple" />
</Page>