---
import Page from '@layouts/page.astro';
import Navigation from '@components/Navigation/Navigation';
---

<Page 
    title="The page could not be found" 
    description="Killed by tech is a graveyard in memorial of great and beloved products, however this grave seems to be empty."
    url="https://killedby.tech/404.html"
>
    <h1>Killed by *</h1>
    <h2 class="ingress">A graveyard for discontinued products from Apple, Google and Microsoft</h2>
    <Navigation />

    <h2 style="margin-top:4rem;">This grave seems to be empty</h2>
    <p>
        I am sorry to inform you that the page you are looking for is not here.
    </p>
    <p>
        Did you know that <a href="/microsoft/#2015" title="Microsoft Zune">Microsoft Zune was discontinued in 2015</a>? Just a year after <a href="/apple/#2014">Apple discontinued the iPod Classic</a>.  
    </p>
</Page>