---
import Page from './../layouts/page.astro';
import YearSelect from './../components/YearSelect/YearSelect.jsx';
import Products from './../components/Products/Products';
import Navigation from './../components/Navigation/Navigation';
---

<Page>
    <h1>Killed by Apple</h1>
    <p>A graveyard of products discontinued by Apple</p>
    <Navigation />
    <Products company="apple"/>
    <YearSelect company="apple" />
</Page>