---
import Page from '@layouts/page.astro';
import YearNavigationBar from '@components/YearNavigationBar/YearNavigationBar';
import Products from '@components/Products/Products';
import Navigation from '@components/Navigation/Navigation';
---

<Page title="Killed by Apple – A graveyard for discontinued products">
    <h1>Killed by Apple</h1>
    <p>A graveyard of products discontinued by Apple</p>
    <Navigation />
    <Products company="apple"/>
    <YearNavigationBar company="apple" />
</Page>