---
import Page from '@layouts/page.astro';
import YearNavigationBar from '@components/YearNavigationBar/YearNavigationBar';
import Products from '@components/Products/Products';
import Navigation from '@components/Navigation/Navigation';
---

<Page title="Killed by Google – A graveyard of discontinued products">
    <h1>Killed by Google</h1>
    <p>A graveyard of products discontinued by Google</p>
    <Navigation />
    <Products company="google"/>
    <YearNavigationBar company="google" />
</Page>