---
import Page from '@layouts/page.astro';
import YearNavigationBar from '@components/YearNavigationBar/YearNavigationBar.jsx';
import Products from '@components/Products/Products';
import Navigation from '@components/Navigation/Navigation';
---

<Page title="Killed by Apple, Google and Microsoft – A graveyard for discontinued products">
    <h1>Killed by <span style="display:none">Apple, Google and Microsoft</span>*</h1>
    <p>A graveyard for discontinued products from Apple, Google and Microsoft</p>
    <Navigation />
    <Products company="all"/>
    <YearNavigationBar company="all" />
</Page>