---
import Page from '@layouts/page.astro';
import YearNavigationBar from '@components/YearNavigationBar/YearNavigationBar.jsx';
import Products from '@components/Products/Products';
import Navigation from '@components/Navigation/Navigation';
---

<Page title="Killed by Apple, Google and Microsoft – A graveyard of discontinued products">
    <h1>Killed by *</h1>
    <p>A graveyard of products discontinued by tech companies</p>
    <Navigation />
    <Products company="all"/>
    <YearNavigationBar company="all" />
</Page>