---
import Page from '../layouts/page.astro';
import Products from '../components/Products/Products.jsx';
import YearSelect from '../components/YearSelect/YearSelect.jsx';
---

<Page>
    <h1>Killed by *</h1>
    <Products />
    <YearSelect />
</Page>