---
import Page from '@layouts/page.astro';
import YearNavigationBar from '@components/YearNavigationBar/YearNavigationBar';
import Products from '@components/Products/Products';
import Navigation from '@components/Navigation/Navigation';
---

<Page 
    title="Killed by Apple, Google and Microsoft - Discontinued products and services" 
    description="Killed by tech is a graveyard in memorial of great and beloved products killed by Apple, Google and Microsoft. It's a free and open source list of discontinued products and services."
    url="https://killedby.tech"
>
    <h1 id="top">Killed by *</h1>
    <h2 class="ingress">A graveyard for discontinued products from Apple, Google and Microsoft</h2>
    <Navigation />
    <Products company="all"/>
    <YearNavigationBar company="all" />
</Page>