---
import Page from './../layouts/page.astro';
import YearSelect from './../components/YearSelect/YearSelect.jsx';
import Products from './../components/Products/Products';
import Navigation from './../components/Navigation/Navigation';
---

<Page>
    <h1>Killed by Microsoft</h1>
    <p>A graveyard of products discontinued by Microsoft</p>
    <Navigation />
    <Products company="microsoft"/>
    <YearSelect company="microsoft" />
</Page>