---
import Page from '@layouts/page.astro';
import YearNavigationBar from '@components/YearNavigationBar/YearNavigationBar.jsx';
import Products from '@components/Products/Products';
import Navigation from '@components/Navigation/Navigation';
---

<Page
    title="Killed by Microsoft"
    description="Killed by tech is a tech graveyard, a free and open source list of discontinued products and services from Microsoft."
    url="https://killedby.tech/microsoft/"
>
    <h1>Killed by Microsoft</h1>
    <p>A graveyard for discontinued products from Microsoft</p>
    <Navigation />
    <Products company="microsoft"/>
    <YearNavigationBar company="microsoft" />
</Page>