---
import Page from './../layouts/page.astro';
import Navigation from './../components/Navigation/Navigation';
---

<Page>
    <h1>Killed by *</h1>
    <Navigation />
    <h2>Privacy</h2>
    <p>I want to process as little personal information as possible when you use my website. That's why I've chosen Fathom Analytics for my website analytics, which doesn't use cookies and complies with the GDPR, ePrivacy (including PECR), COPPA and CCPA.</p>
    <p>Using this privacy-friendly website analytics software, your IP address is only briefly processed, and I have no way of identifying you. As per the CCPA, your personal information is de-identified. You can read more about this on <a href="https://usefathom.com/compliance" target="_blank" rel="noopener noreferrer">Fathom Analytics' website</a>.</p>
    <p>The purpose of me using this software is to understand my website traffic in the most privacy-friendly way possible so that I can continually improve my website. The lawful basis as per the GDPR is "f); where our legitimate interests are to improve our website and business continually." As per the explanation, no personal data is stored over time.</p>
</Page>


