---
import Page from "@layouts/page.astro";
import YearNavigationBar from "@components/YearNavigationBar/YearNavigationBar";
import Products from "@components/Products/Products";
import Navigation from "@components/Navigation/Navigation";
---

<Page
	title="Killed by Microsoft - Discontinued products and services"
	description="Killed by tech is a tech graveyard, a free and open source list of discontinued products and services from Microsoft."
	url="https://killedby.tech/microsoft/"
>
	<h1 id="top">Killed by Microsoft</h1>
	<h2 class="ingress">
		A graveyard for discontinued products from Microsoft
	</h2>
	<Navigation />
	<Products company="microsoft" />
	<YearNavigationBar company="microsoft" client:idle  />
</Page>
