@import "../../assets/variables.scss";

.logo {
	width: 16px;
	height: 24px;
	margin-right: 1rem;
	float: left;

	display: flex;
	align-items: center;

	fill: $grey;
}

.all {
    color: $grey !important;
    font-size: 32px;
    line-height: 24px;
    height: 16px;
}