@import "./../../assets/styles/variables.scss";

.logo {
	width: 16px;
	height: 24px;
	margin-right: 1rem;
	float: left;

	display: flex;
	align-items: center;

	fill: var(--font-color);
}

.all {
	color: var(--font-color) !important;
	font-size: 32px;
	line-height: 14px;
	height: 16px;
}
