@import "./../../assets/styles/variables.scss";

.footer {
	margin-top: 4rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	border-top: 1px solid var(--overlay-background-color);

	.smileyLink {
		display: inline-block;
		margin-top: 3rem;

		> svg > path {
			fill: var(--silver);
		}
	}
}
