@import "./../../assets/styles/variables.scss";

.aboutButton {
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	z-index: 10;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 30px;
	width: 3rem;
	height: 3rem;
	background-color: var(--overlay-background-color);

	color: var(--font-color);
	font-weight: normal;
	text-align: center;

	&:hover {
		color: var(--title-color);
	}
}

.toTheTop {
	position: fixed;
	bottom: 3rem;
	right: 7rem;
	z-index: 10;

	display: none;
	justify-content: center;
	align-items: center;

	border-radius: 30px;
	width: 8rem;
	height: 3rem;
	background-color: var(--overlay-background-color);

	color: var(--font-color);
	font-weight: normal;
	text-align: center;

	animation: fadeIn ease 500ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	&:hover {
		color: var(--title-color);
	}

	@media (max-width: 1199px) {
		display: flex;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
