@import "./../../assets/styles/variables.scss";

.aboutButton {
	position: fixed;
	bottom: 3rem;
	right: 2rem;
	z-index: 10;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 30px;
	width: 55px;
	height: 55px;
	border-radius: 100px;
	border: 1px solid var(--overlay-border-color);
	background-color: var(--overlay-background-color);

	color: var(--font-color);
	font-weight: normal;
	text-align: center;

	&:hover {
		color: var(--title-color);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
