:root {
	--black: #101010;
	--grey: #404040;
	--silver: #bababa;
	--almost-white: #eaeaea;
	--white: #fefefe;
	--light-blue: #277cdd;
	--blue: #1a6ece;
	--dark-blue: #003f87;
	--red: #d60e30;
	--light-red: #f43f5e;
	--orange: #984d10;
	--light-orange: #fb923c;
	--purple: #9936fc;
	--light-purple: #c084fc;
	--green: #12873d;
	--light-green: #16a34a;
	--light-yellow: #ffda8a;

	--background-color: var(--white);
	--font-color: var(--grey);
	--link-color: var(--blue);
	--title-color: var(--black);
	--overlay-background-color: var(--almost-white);
	--overlay-font-color: var(--font-color);

	--title-font-family: "JetBrains Mono", "Helvetica", "Arial", "sans-serif";
	--font-family: "JetBrains Mono", "Helvetica", "Arial", "sans-serif";
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: var(--black);
		--font-color: var(--silver);
		--link-color: var(--light-blue);
		--title-color: var(--white);
		--overlay-background-color: var(--grey);
		--overlay-font-color: var(--almost-white);
	}
}

$breakpoint-tablet: 1024px;
$breakpoint-mobile: 600px;
