---
  import '@assets/styles/global.scss';
  import Footer from '@components/Footer/Footer';
  const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width">
    <title>{ title }</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <Footer />
    <script src="https://cdn.usefathom.com/script.js" data-site="SNZPDDNM" defer></script>
  </body>
</html>