---
  import '../assets/global.scss';
  import Footer from './../components/Footer/Footer';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width">
    <title>Killed by Apple, Google and Microsoft – A graveyard of discontinued products</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <Footer />
    <script src="https://cdn.usefathom.com/script.js" data-site="SNZPDDNM" defer></script>
  </body>
</html>