---
  import '../assets/global.scss';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width">
    <title>Killed by Google, Apple, Amazon and Microsoft</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <footer>
        <p>
            Killed by tech is the complete tech graveyard. A free and open source list of discontinued services, products, devices, and apps from companies like Google, Apple and Microsoft.
        </p>
        <p>
           Most of the information come from other projects like Killed by Google, a project by Cody Ogden. Contributors from around the world help compile, research, and maintain the information about dying and dead products.
        </p>
    </footer>
  </body>
</html>