# Workflow to build and deploy to your GitHub Pages repo.

# Edit your project details here.
# Remember to add API_TOKEN_GITHUB in repo Settings > Secrets as well!
env:
    githubEmail: edvin.linden@gmail.com
    deployToRepo: killedby.tech

name: Build & deploy to GitHub Pages

on:
    # Triggers the workflow on push and pull request events but only for the main branch
    push:
        branches: [main]
    #pull_request:
    #   branches: [main]

    # Allows you to run this workflow manually from the Actions tab.
    workflow_dispatch:

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
            - uses: actions/checkout@v2
            
            - name: Use Node.js 16
              uses: actions/setup-node@v2
              with:
                node-version: '16'
                cache: 'npm'

            # Install dependencies with npm
            - name: Install dependencies
              run: npm ci

            # Build the project and add .nojekyll file to supress default behaviour
            - name: Build
              run: |
                  npm run build
                  touch ./dist/.nojekyll
                  echo "killedby.tech" > ./dist/CNAME

            # Push to your pages repo
            - name: Push to pages repo
              uses: cpina/github-action-push-to-another-repository@main
              env:
                  API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
              with:
                  source-directory: "dist"
                  destination-github-username: ${{ github.actor }}
                  destination-repository-name: ${{ env.deployToRepo }}
                  user-email: ${{ env.githubEmail }}
                  commit-message: Deploy ORIGIN_COMMIT
                  target-branch: gh-pages
